<!-- <ul class="nav nav-pills nav-stacked"> -->
<!--   <li><a class="{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a></li> -->
<!--   {% assign pages_list = site.pages %} -->
<!--   {% for node in pages_list %} -->
<!--     {% if node.title != null %} -->
<!--       {% if node.layout == "page" %} -->
<!--         <li class="{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li> -->
<!--       {% endif %} -->
<!--     {% endif %} -->
<!--   {% endfor %} -->
<!-- </ul> -->


<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="{{ site.baseurl }}/docs/getting-started/">Getting Started</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/url-structure/">Stacker URL Structure</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/javascript-bridge/">Javascript Bridge</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/custom-buttons/">Custom Navigation Buttons</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/theming/">Theming Stacker</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/html-best-practices/">HTML Best Practices</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/http-extras/">HTTP Extras</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/stacker-objc-api/">Obj-C API</a></li>
  <li class=""><a href="{{ site.baseurl }}/docs/custom-actions/">Custom URL Actions</a></li>
</ul>


